<h1>Menú del Restaurante</h1>
<ul>
	<li th:each="item : ${items}">
	    <span th:text="${item.nombre}"/> -
	    <span th:text="${item.tipo}"/> -
	    <span th:text="${item.precio}"/> €
	    <a th:href="@{'/restaurante/menu/' + ${restaurante.id} + '/editar/' + ${item.id}}">Editar</a> |
	    <a th:href="@{'/restaurante/menu/' + ${restaurante.id} + '/eliminar/' + ${item.id}}">Eliminar</a>
	</li>

</ul>

<h2>Agregar Item</h2>
<form th:action="@{/restaurante/menu/{id}/agregar(id=${restaurante.id})}" method="post" th:object="${itemMenu}">
    <input type="text" th:field="*{nombre}" placeholder="Nombre"/>
    <input type="number" th:field="*{precio}" placeholder="Precio"/>
    <select th:field="*{tipo}">
        <option value="COMIDA">Comida</option>
        <option value="BEBIDA">Bebida</option>
        <option value="POSTRE">Postre</option>
    </select>
    <button type="submit">Agregar</button>
</form>
