<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Restaurantes</title>
</head>
<body>
    <h1>Restaurantes</h1>
    <ul>
        <li th:each="restaurante : ${restaurantes}">
            <span th:text="${restaurante.nombre}">Nombre Restaurante</span>
            - <span th:text="${restaurante.direccion}">Dirección</span>
        </li>
    </ul>
    <a href="/registro">Registrarse</a> | <a href="/login">Iniciar Sesión</a>
	<form th:action="@{/cliente/favoritos/agregar}" method="post">
	  <input type="hidden" th:name="restauranteId" th:value="${restaurante.id}" />
	  <button type="submit">⭐ Favorito</button>
	</form>

</body>
</html>
