<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menú del Restaurante</title>
	<link th:href="@{/css/styles-carta.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <div class="left-header">
        <div class="logo">FlashBox</div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="usuario-header">
        <form th:if="${session.usuario != null}" action="/logout" method="get" style="display:inline">
            <button type="submit" class="btn">❌Cerrar sesión</button>
        </form>
    </div>
</header>

<main>
    <h1>🍽️ Menú del Restaurante</h1>

    <p th:if="${mensaje}" th:text="${mensaje}" class="mensaje-vacio"></p>

    <ul th:if="${not #lists.isEmpty(items)}" class="menu-list">
        <li th:each="item : ${items}">
            <span th:text="${item.nombre}"></span> -
            <span th:text="${item.tipo}"></span> -
            <span th:text="${item.precio} + ' €'"></span>

            <span th:if="${session.usuario != null and session.usuario.id == restaurante.usuario.id}">
                <a th:href="@{'/restaurante/menu/' + ${restaurante.id} + '/editar/' + ${item.id}}" class="btn">✏️ Editar</a>
                <a th:href="@{'/restaurante/menu/' + ${restaurante.id} + '/eliminar/' + ${item.id}}" class="btn">🗑️ Eliminar</a>
            </span>
        </li>
    </ul>

    <div th:if="${session.usuario != null and session.usuario.id == restaurante.usuario.id}">
        <h2>➕ Agregar Ítem</h2>
        <form th:action="@{/restaurante/menu/{id}/agregar(id=${restaurante.id})}" method="post" th:object="${itemMenu}" class="form">
        	 <input type="hidden" th:field="*{id}" value="" />
            <input type="text" th:field="*{nombre}" placeholder="Nombre del plato" class="form-input" required />
            <input type="number" th:field="*{precio}" placeholder="Precio (€)" class="form-input" required />
            <select th:field="*{tipo}" class="form-select" required>
                <option value="COMIDA">Comida</option>
                <option value="BEBIDA">Bebida</option>
                <option value="POSTRE">Postre</option>
            </select>
            <button type="submit" class="btn">✅ Agregar</button>
        </form>
    </div>
</main>
		<div th:if="${session.usuario != null and session.usuario.rol.name() == 'CLIENTE'}" style="margin-top: 2em;">
    <form th:action="@{/cliente/pedido/realizar/{restauranteId}(restauranteId=${restaurante.id})}" method="get">
		<div style="display: flex; justify-content: center; align-items: center; width: 100%;">
		    <button type="submit" class="btn">🛒 Realizar Pedido</button>
		</div>
    </form>
</div>
</body>
</html>
