<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>⭐ Favoritos</title>
	<link th:href="@{/css/styles-favoritos.css}" rel="stylesheet"/>

</head>
<body>
<header>
    <div class="left-header">
        <div class="logo">FlashBox</div>
    </div>
    <div>
        <a href="/inicio" class="favoritos-btn">🏠 Volver a Inicio</a>
    </div>
</header>

<main>
    <h1>⭐ Tus Restaurantes Favoritos</h1>

	<div th:each="r : ${favoritos}" class="restaurant-card">
	    <div class="restaurant-info">
	        <div class="restaurant-name" th:text="${r.nombre}">Nombre</div>
	        <div class="restaurant-address" th:text="${r.direccion}">Dirección</div>
	    </div>
	    <div class="actions">
	        <a th:href="@{'/restaurante/menu/' + ${r.id}}" class="btn">📋 Ver Menú</a>
	        <form th:action="@{/cliente/favoritos/eliminar}" method="post" style="display:inline;">
	            <input type="hidden" name="restauranteId" th:value="${r.id}" />
	            <button type="submit" class="btn">🗑️ Eliminar</button>
	        </form>
	    </div>
	</div>
</main>
</body>
</html>
