<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>🍽️ Restaurantes</title>
	<link th:href="@{/css/styles-lista.css}" rel="stylesheet"/>

</head>
<body>

<header>
    <div class="logo">FlashBox</div>
	<a href="/inicio" class="favoritos-btn">🏠 Volver a Inicio</a>
</header>

<main>
    <h1>🍽️ Restaurantes</h1>

    <div th:each="restaurante : ${restaurantes}" class="restaurant-card">
        <div class="restaurant-info">
            <div class="restaurant-name" th:text="${restaurante.nombre}">Nombre</div>
            <div class="restaurant-address" th:text="${restaurante.direccion}">Dirección</div>
        </div>
        <div class="actions">
            <form th:action="@{/cliente/favoritos/agregar}" method="post">
                <input type="hidden" name="restauranteId" th:value="${restaurante.id}" />
                <button type="submit" class="btn">⭐ Favorito</button>
            </form>
        </div>
    </div>
</main>

</body>
</html>
