<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión • FlashBox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles-login.css}" rel="stylesheet"/>
</head>
<body>
<div class="login-container">

    <div class="login-left">
        <h1 style="color:white;">Inicia sesión</h1>
        <p>con tu cuenta de FlashBox. Esta cuenta te permitirá hacer pedidos, guardar favoritos y mucho más.</p>
    </div>

    <div class="login-right">
		
        <h2>🔒 Accede a tu cuenta</h2>

        <form th:action="@{/login}" method="post" class="form">

            <div class="form-group">
                <label for="username">Nombre de usuario</label>
                <input type="text" id="username" name="username" placeholder="Introduce tu usuario" class="form-input" required/>
            </div>

            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" placeholder="Introduce tu contraseña" class="form-input" required/>
            </div>

            <button type="submit" class="btn submit-btn" style="width: 100%;">Siguiente</button>

            <p th:if="${error}" th:text="${error}" style="color:#ef4444;margin-top:1rem;"></p>

            <div class="form-footer">
                <a href="/registro" class="btn" style="margin-bottom: 1em; display: inline-block; background:#8ab4f8; color:#121212; padding:0.5em 1.2em; border-radius:6px; text-decoration:none;">📝Crear Cuenta</a>
				<a href="/home" class="btn" style="margin-bottom: 1em; display: inline-block; background:#8ab4f8; color:#121212; padding:0.5em 1.2em; border-radius:6px; text-decoration:none;">🏠 Volver al inicio</a>
            </div>
        </form>

    </div>

</div>
</body>
</html>
